@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero_section {
  width: 100%;
  background: radial-gradient(
    at 50% 100%,
    #873740 0%,
    #272730 40%,
    #171720 80%,
    #070710 100%
  );
  height: 100vh;
}

.hero_data > h1 {
  position: absolute;
  top: 30px;
  color: red;
  font-weight: 800;
  left: 30px;
  font-size: 4rem;
}
