.planetDiscovery {
  position: relative;
  width: 100%;
}

.planetDiscovery_title > h1 {
  width: 100%;
  color: peru;
  margin: 40px auto;
  text-decoration: underline;
  letter-spacing: 1px;
  font-size: 4rem;
  width: max-content;
  padding: 30px 50px;
}
.planetDiscovery_flex {
  display: flex;
  justify-content: space-evenly;
  max-height: 500px;
  padding: 20px;
}

.planetDiscovery_left {
  width: 50%;

  background: radial-gradient(
    at 50% 100%,
    #873740 0%,
    #272730 40%,
    #171720 80%,
    #070710 100%
  );
}

.planetDiscovery_right {
  padding: 10px;
  width: 50%;
}

.planetDiscovery_right > p {
  font-weight: 500;
  text-align: justify;

  font-size: 1.2rem;
}

@media only screen and (max-width: 1100px) {
  .planetDiscovery_flex {
    flex-direction: column;
    max-height: 100vh;
    padding: 0;
  }
  .planetDiscovery_left {
    width: 100%;
    padding: 10px;
    overflow-y: unset;
  }

  .planetDiscovery_right {
    width: 100%;
  }
  .planetDiscovery_title > h1 {
    font-size: 2rem;
    margin: 0 auto;
  }
}
